@{
    ViewData["Title"] = "Home Page";
    var Id = Context.Session.GetString("EmpId");
    var RoleId = Context.Session.GetString("EmpRoleId");
    var RoleName = Context.Session.GetString("EmpRoleName");
    var Name = Context.Session.GetString("EmpName");
    var status = Context.Session.GetString("Status");// "True" 或 "False"
    var login = Context.Session.GetString("Login");// "True" 或 "False"
}


<div class="text-center">
    <h1 class="display-4">首頁</h1>
    <p>
        這裡是首頁，您的登入狀態:
        <span>
            @if (login == "True") 
            {
                @:您好 @Name (角色: @RoleName)
            }
                
            else 
            {
                @:未登入 
            }
        </span>
        </p>
</div>

